{% include base.html %}
<aside class="category fbp">
  <h2>Flow-Based Programming</h2>

  <p><a href="http://en.wikipedia.org/wiki/Flow-based_programming">Flow-Based Programming</a> (FBP) is a software development paradigm where applications are built by "wiring together" various reusable components inside a graph.</p>

  <p>Since running into the concept in 2011, I've built the <a href="http://noflojs.org/">NoFlo</a> environment, which brings Flow-Based Programming to the <a href="{{ base }}/blog/the_universal_runtime/">universal runtime</a> of JavaScript, allowing flows to be run on both Node.js and the browser.</p>
  <p>Our company <a href="https://flowhub.io">Flowhub</a> provides <a href="https://flowhub.io/ide/">visual tools</a> and <a href="https://flowhub.io/consulting/">consulting services</a> for full-stack Flow-Based Programming. By <a href="https://plans.flowhub.io/">subscribing to Flowhub</a> you directly support NoFlo development, and help us all get to the future of programming faster</p>
</aside>
