{% include base.html %}
<aside class="category tablet">
  <h2>Tablet Productivity</h2>

  <p>The migration from desktop computers to tablets, and from windows, icons, and pointers to natural user interfaces is probably the most interesting area of information technology in the early 2000s. My blog tracks this event as it happens.</p>

  <p>I've been using various mobile devices for work for a long time, starting with the <a href="http://en.wikipedia.org/wiki/Psion_Series_5">Psion PDAs</a> of the late 90s to <a href="{{ base }}/blog/meego-diaspora/">Nokia's Internet Tablets</a> and the later big tablets. In early 2013 I even started using <a href="{{ base }}/blog/working-on-android/">an Android tablet</a> as my main workstation.</p>
</aside>
