{% include base.html %}
<aside class="category oscom">
  <h2>Decoupled Content Management</h2>

  <p><a href="http://decoupledcms.org/">Decoupled Content Management</a> is a movement to bring clean separation of concerns into CMSs. With it, Content Management Systems can focus better on their core functionalities, and get the missing pieces through code-sharing and collaboration.</p>

  <p>For me, the decoupled CMS story began in the <a href="http://www.advogato.org/article/657.html">OSCOM era</a> of early 2000s, and culminated in the still-popular <a href="{{ base }}/blog/decoupling_content_management/">Decoupling Content Management</a> article I wrote in 2011. The tools mentioned there &mdash; <a href="https://bergie.github.com/create/">Create.js</a>, <a href="http://viejs.org/">VIE</a>, and <a href="http://phpcr.github.com/">PHPCR</a> &mdash; have since reached quite a nice level of adoption in mainstream CMSs.</p>
</aside>
