<aside class="category sailing">
  <h2>Sailing</h2>
  <p>I've been into sailing from an early age, having started with cruising on my grandparents' boat. In the early 2000s I spent couple of summers on <a href="/blog/2005-06-27-1119894307/">reconstructed viking ships</a>, and in 2014 I <a href="/blog/sailing-across-the-atlantic/">sailed across the Atlantic</a> on a sail training schooner.</p>
  <p>In 2018 we bought <a href="https://bergie.iki.fi/blog/signalk-boat-iot/">a boat</a> in Berlin that we've since upgraded to our current <a href="https://lille-oe.de"><i>Lille Ø</i></a> that we cruise the waters of the Baltic Sea with. I also participate actively in the <a href="https://signalk.org">Signal K</a> community to develop smart boat systems.</p>
</aside>
