<aside class="category midgard">
  <h2>About Midgard</h2>
  <p><a href="http://midgard-project.org/midgard2/">Midgard2</a> is a content repository library that can be used in both web and desktop applications. It is built as by <a href="http://midgard-project.org/">Midgard Project</a>, an international free software community. I've been an active part of the group since its beginnings in late 90s.</p>

  <p>Thanks to <a href="https://live.gnome.org/GObjectIntrospection/Users">GObject Introspection</a>, the Midgard2 content repository can be used from almost any programming language, including PHP, Python, and JavaScript.</p>
</aside>
