      {% include base.html %}
      <div class="container">
        <div vocab="http://schema.org/" id="me" about="https://bergie.iki.fi/#me" typeof="Person" class="card h-card">
          <div class="avatar instapaper_ignore">
            <a href="{{ base }}/about/" class="u-url" rel="me"><div class="image photo u-photo"></div></a>
          </div>
          <div class="details">
            <p>
            <strong class="p-name"><span property="givenName">Henri</span> <span property="familyName">Bergius</span></strong> is an occasional adventurer living in <span rel="homeLocation" typeof="City"><span property="name" class="p-locality">Berlin</span></span> and <a href="{{ base }}/now/" rel="status">working on</a> decoupled software systems, <a href="https://noflojs.org">visual programming tools</a>, and free software.
            </p>
            <p>
            You can reach me by <a rel="email" class="u-email" href="mailto:henri.bergius@iki.fi">email</a>. Besides writing on this blog, I'm also available on <a href="http://www.linkedin.com/in/bergie" class="u-url" rel="me">LinkedIn</a> and on fediverse as <a href="https://pixelfed.de/bergie" class="u-url" rel="me">@bergie@pixelfed.de</a>. Most of my recent code can be found from <a href="https://github.com/bergie" class="u-url" rel="me">GitHub</a>. <a href="{{ base }}/about/">&raquo;</a>
            </p>
          </div>
        </div>
        <nav>
          <ul class="nav nav-pills nav-wide">
            <li><a href="{{ base }}/" class="u-url" rel="me">Home</a></li>
            <li><a href="{{ base }}/about/" class="u-url" rel="me">About Henri</a></li>
            <li><a href="{{ base }}/blog/category/bestof/">Best Of</a></li>
            <li><a href="https://www.flickr.com/photos/bergie/" class="u-url" rel="me">Photos</a></li>
            <li><a href="{{ base }}/colophon/">Colophon</a></li>
          </ul>
        </nav>
      </div>
