      <div class="container">
        <div vocab="http://schema.org/" about="http://bergie.iki.fi/#me" typeof="Person" class="card span8 offset1">
          <div class="avatar">
            <div class="switcher">
              <img class="photo" src="/style/img/bergie.jpg" alt="Henri Bergius, photo" rel="image" />
              <img class="drawing" src="/style/img/bergie_drawn.jpg" alt="Henri Bergius, drawing by Nina Mutik" id="bergie_drawn" />
          </div>
          </div>
          <div class="details">
            <p>
            <strong><span property="givenName">Henri</span> <span property="familyName">Bergius</span></strong> is an occasional adventurer working at <a rel="worksFor" href="http://nemein.com/" typeof="Corporation"><span property="name">Nemein</span></a> <span rel="homeLocation" typeof="City"><span property="name">Berlin</span></span> on linked data, content repositories and free software.
            </p>
            <p>
              You can reach him by <a rel="email" href="mailto:henri.bergius@iki.fi">email</a>, <a href="xmpp:henri.bergius@gmail.com">instant messaging</a> or <a href="skype:henribergius">Skype</a>. Besides writing on this blog, he is also available on <a href="http://twitter.com/bergie">Twitter</a> and <a href="http://www.linkedin.com/in/bergie">LinkedIn</a>. Most of Henri's recent development projects can be found from <a href="http://github.com/bergie">GitHub</a>.
            </p>
          </div>
        </div>
        <div class="span8 offset1">
          <ul class="nav nav-pills span8 offset1">
            <li><a href="/about/">About Henri</a></li>
            <li><a href="/colophon/">Colophon</a></li>
          </ul>
        </div>
      </div>
      <script type="application/javascript">
        var avatar = document.getElementById('bergie_drawn');
        avatar.addEventListener('click', function () {
          if (avatar.className.indexOf('transparent') === -1) {
            avatar.className = avatar.className + ' transparent';
            return;
          }
          avatar.className = avatar.className.replace(/\b transparent\b/,'');
        });
      </script>
