  <article vocab="http://schema.org/" about="{{ base }}{{ post.url }}" typeof="BlogPosting" class="h-entry">
    {% if post.cover %}
    <a href="{{ base }}{{ post.url }}"><img src="{{ post.cover | replace: 'https://d2vqpl3tx84ay5.cloudfront.net/', 'https://d2vqpl3tx84ay5.cloudfront.net/500x/' }}" class="cover" /></a>
    {% else %}
      {% if paginator.page == 1 %}
    <div class="no-cover"></div>
      {% else %}
        {% assign mod = forloop.index | modulo: 2 %}
        {% if mod == 0 %}
          {% if prevPost.cover %}
    <div class="no-cover"></div>
          {% endif %}
        {% else %}
          {% if nextPost.cover %}
    <div class="no-cover"></div>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
    <h1><a href="{{ base }}{{ post.url }}" rel="bookmark" class="p-name u-url">{{ post.title }}</a></h1>
    <div class="metadata">
      <span property="datePublished" content="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</span>
      {% if post.location %}
      in <span rel="contentLocation" typeof="City"><span property="description">{{ post.location }}</span></span>
      {% endif %}
      <a rel="author" href="https://bergie.iki.fi/#me"></a>
      <span property="wordCount" content="{{ post.content | strip_html | number_of_words }}"></span>
    </div>
    <div>
      {{ post.excerpt | strip_html | truncatewords:60 }}
    </div>
  </article>
  {% assign prevPost = post %}

