---
layout: default
bodyclass: about
---
<header>
  <div class="container">
    <h1><a href="/">{{ site.name }}</a></h1>
  </div>
</header>
{% include base.html %}
<div class="about">
  {{ content }}
  <ul class="gallery">
    {% for image in page.images %}
    <li{% if image.gridsize %} class="size{{ image.gridsize }}"{% endif %}>
      <a href="#image{{ forloop.index }}">
        <img src="{{ base }}/about/pictures/{% if image.thumb %}{{ image.thumb }}{% else %}{{ image.original }}{% endif %}" alt="{{ image.label }}" />
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% for image in page.images %}
<a href="#_" class="lightbox" id="image{{ forloop.index }}"><img src="{{ base }}/about/pictures/{{ image.original }}" alt="{{ image.label }}" /></a>
{% endfor %}
