---
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
	<channel>
    <title>{{ site.name }} - {{ page.categorization | capitalize }}</title>
    <description>Latest posts in category '{{ page.categorization }}'</description>
    <link>{{ site.url }}</link>
    <language>{{ site.language }}</language>
    <lastBuildDate>{{ site.time | date_to_xmlschema }}</lastBuildDate>
		{% for post in site.categories[page.categorization] limit:10 %}
			<item>
				<title>{{ post.title }}</title>
				<description>{{ post.content | xml_escape }}</description>
				<published>{{ post.date | date_to_xmlschema }}</published>
				<link>{{ site.url }}{{ post.url }}</link>
			</item>
		{% endfor %}
	</channel>
</rss>
