---
layout: default
bodyclass: blog
---
<header>
  <div class="container">
    <h1><a href="/">{{ site.name }}</a></h1>
  </div>
</header>

<div class="about">
  {% if page.categorization == 'bestof' %}
    {% include category_bestof.html %}
  {% elsif page.categorization == 'fbp' %}
    {% include category_fbp.html %}
  {% elsif page.categorization == 'midgard' %}
    {% include category_midgard.html %}
  {% elsif page.categorization == 'oscom' %}
    {% include category_oscom.html %}
  {% elsif page.categorization == 'tablet' %}
    {% include category_tablet.html %}
  {% else %}
  <h2>{{ page.title }}</h2>
  <p>I've been writing more or less regularly to this blog <a href="{{ base }}/blog/news-page-launch/">since 1997</a>. Here you can find my posts categorized with "{{ page.categorization }}".</p>
  {% endif %}
</div>
<div class="articles">
  {% assign posts = site.categories[page.categorization] %}
  {% for post in posts %}
  {% include post.html %}
{% endfor %}
</div>
