---
layout: default
bodyclass: blogcategory
---
<header>
  <div>
    <h1><a href="/">{{ site.name }} - {{ page.title }}</a></h1>
  </div>
</header>

<div>
  {% if page.categorization == 'midgard' %}
    {% include category_midgard.html %}
  {% endif %}
  {% if page.categorization == 'bestof' %}
    {% include category_bestof.html %}
  {% endif %}
  {% if page.categorization == 'oscom' %}
    {% include category_oscom.html %}
  {% endif %}
  {% if page.categorization == 'tablet' %}
    {% include category_tablet.html %}
  {% endif %}
</div>
{% include base.html %}
<ol class="categoryposts">
  {% for post in site.categories[page.categorization] %}
  <li>
    <a href="{{ base}}{{ post.url }}" class="title">{{ post.title }}</a>
    <span class="metadata">{{ post.date | date_to_string }}{% if post.location %} in {{ post.location }}{% endif %}</span>
  </li>
  {% endfor %}
</ol>
