<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }} {% if paginator.page %}{% unless paginator.page == 1 %} archive {{ paginator.page }}/{{ paginator.total_pages }} {% endunless %}{% endif %}- {{ site.name }}{% if page.location %} in {{ page.location }}{% endif %}</title>
    <link rel="stylesheet" href="/style/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/style/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/style/css/bergie-2012.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    {% if page.categorization %}
    <link rel="alternate" type="application/rss+xml" href="/blog/category/{{ page.categorization }}/rss.xml" title="'{{ page.categorization }}' feed" />
    {% else %}
    <link rel="alternate" type="application/rss+xml" href="/blog/rss.xml" title="{{ site.name }} feed" />
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-75936-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body{% if page.bodyclass %} class="{{ page.bodyclass }} {% if page.bodyclass == 'blog' %}{%if paginator.page == 1 %} front{% endif %}{%endif %}"{% endif %}>
    <div class="container">
      {{ content }}
    </div>
    <footer>
      {% include footer.html %}
    </footer>
    {% if page.bodyclass == 'blog' %}
      {% include commentscount.html %}
    {% endif %}
  </body>
</html>
