---
layout: default
bodyclass: blog
---
<header class="span10 offset1">
  <div>
    <h1><a href="/">{{ site.name }}</a></h1>
  </div>
</header>

<aside class="span6 offset1">
  {% unless paginator.page == 1 %}
  <p>This is the page <em>{{ paginator.page }}</em> of <em>{{ paginator.total_pages }}</em> of the blog archive. On this page you have articles from {% for post in paginator.posts %}{% if forloop.first %}<em>{{ post.date | date_to_string }}</em> to {% endif %}{% if forloop.last %}<em>{{ post.date | date_to_string }}</em>{% endif %}{% endfor %}.</p>
  {% else %}
  {{ content }}
  {% endunless %}
</aside>

{% for post in paginator.posts %}
<article vocab="http://schema.org/" about="{{ post.url }}" typeof="BlogPosting">
    <h1 class="span8 offset1"><a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a></h1>
    <div class="span8 offset1">
      {{ post.content | strip_html | truncatewords:60 }}
      <div class="links">
        <a href="{{ post.url }}" rel="bookmark">Read more &raquo;</a>
        <a class="commentscount" rel="comment" href="{{ post.url }}#disqus_thread">Comments</a>
      </div>
    </div>
    <div class="metadata span2">
      <span property="datePublished" content="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</span>
      {% if post.location %}
      in <span rel="contentLocation" typeof="City"><span property="description">{{ post.location }}</span></span>
      {% endif %}
      <a rel="author" href="http://bergie.iki.fi/#me"></a>
      <span property="wordCount" content="{{ post.content | strip_html | number_of_words }}"></span>
    </div>
  </article>
  {% unless forloop.last %}
  <hr class="span8 offset1" />
  {% endunless %}
{% endfor %}

<div class="span9 offset1">
  <ul class="pager">
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
    <li><a rel="prev" href="/">&larr; Newer</a></li>
    {% else %}
    <li><a rel="prev" href="/page{{ paginator.previous_page }}/">&larr; Newer</a></li>
    {% endif %}
  {% endif %}
  <li class="hidden-phone"><a href="/blog/rss.xml">RSS feed</a></li>
  <li><a href="/blog/">Archive</a></li>
  {% if paginator.next_page %}
    <li><a rel="next" href="/page{{ paginator.next_page }}/">Older &rarr;</a></li>
  {% endif %}
  </ul>
</div>
