---
layout: default
bodyclass: blog
---
<header class="row">
  <div class="span10 offset1">
    <h1>{{ site.name }}</h1>
  </div>
</header>
    <h2>{% unless paginator.page == 1 %}{{ page.title }} archives - page {{ paginator.page }}/{{ paginator.total_pages }}{% endunless %}</h2>

{{ content }}

{% for post in paginator.posts %}
  <article vocab="http://schema.org/" about="{{ page.url }}" typeof="BlogPosting" class="row">
    <div class="span8 offset1">
      <h1><a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a></h1>
      {% if paginator.page == 1 %}
        {{ post.content }}
      {% else %}
        {{ post.content | truncatewords:60 }}
        <a href="{{ post.url }}" rel="bookmark">Read more &raquo;</a>
      {% endif %}
    </div>
    <div class="metadata span2">
      {% if page.location %}
      in <span rel="contentLocation" typeof="City"><span property="description">{{ post.location }}</span></span>, 
      {% endif %}
      <span property="datePublished" content="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</span>
      <a rel="author" typeof="Person" href="http://bergie.iki.fi/#me"></a>
      <span property="wordCount" content="{{ post.content | number_of_words }}"></span>
    </div>
  </article>
  {% unless forloop.last %}
  <hr />
  {% endunless %}
{% endfor %}

<div class="span8 offset3">
  <ul class="pager">
  {% if paginator.next_page %}
    <li><a href="/page{{ paginator.next_page }}">&larr; Older</a></li>
  {% endif %}
  {% if paginator.previous_page %}
    <li><a href="/page{{ paginator.previous_page }}">Newer &rarr;</a></li>
  {% endif %}
  </ul>
</div>
