---
layout: default
bodyclass: blog
---
<header>
  <div class="container">
    <h1><a href="/">{{ site.name }}</a></h1>
    {% if paginator.page == 1 %}
    {{ content }}
    {% endif %}
  </div>
</header>
{% unless paginator.page == 1 %}
<div class="paginator">
  <p>This is the page <em>{{ paginator.page }}</em> of <em>{{ paginator.total_pages }}</em> of the blog archive. On this page you have articles from {% for post in paginator.posts %}{% if forloop.first %}<em>{{ post.date | date_to_string }}</em> to {% endif %}{% if forloop.last %}<em>{{ post.date | date_to_string }}</em>{% endif %}{% endfor %}.</p>
</div>
{% endunless %}

{% include base.html %}
<div class="articles">
{% for post in paginator.posts %}
  <article vocab="http://schema.org/" about="{{ base }}{{ post.url }}" typeof="BlogPosting" class="h-entry">
    {% if post.cover %}
    <img src="{{ post.cover | replace: 'https://d2vqpl3tx84ay5.cloudfront.net', 'https://rsz.io/d2vqpl3tx84ay5.cloudfront.net' }}?w=500&quality=70&format=jpg" class="cover" />
    {% else %}
    <div class="no-cover"></div>
    {% endif %}
    <h1><a href="{{ base }}{{ post.url }}" rel="bookmark" class="p-name u-url">{{ post.title }}</a></h1>
    <div class="metadata">
      <span property="datePublished" content="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</span>
      {% if post.location %}
      in <span rel="contentLocation" typeof="City"><span property="description">{{ post.location }}</span></span>
      {% endif %}
      <a rel="author" href="http://bergie.iki.fi/#me"></a>
      <span property="wordCount" content="{{ post.content | strip_html | number_of_words }}"></span>
    </div>
    <div>
      {{ post.content | strip_html | truncatewords:60 }}
    </div>
  </article>
{% endfor %}
</div>

<div>
  <ul class="pager">
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
    <li><a rel="prev" href="{{ base }}/">&larr; Newer</a></li>
    {% else %}
    <li><a rel="prev" href="{{ base }}/page{{ paginator.previous_page }}/">&larr; Newer</a></li>
    {% endif %}
  {% endif %}
    <li><a href="{{ base }}/blog/rss.xml">RSS feed</a></li>
    <li><a href="{{ base }}/blog/">Archive</a></li>
  {% if paginator.next_page %}
    <li><a rel="next" href="{{ base }}/page{{ paginator.next_page }}/">Older &rarr;</a></li>
  {% endif %}
  </ul>
</div>
