---
layout: 'default'
bodyclass: 'post'
---
      {% include base.html %}
      <article vocab="http://schema.org/" about="{{ base }}{{ page.url }}" typeof="BlogPosting" class="h-entry">
        <header>
          <h1 property="headline" class="p-name">{{ page.title }}</h1>
          <div class="metadata">
            {% if page.author %}
            Guest post by <span rel="author" typeof="Person"><span property="name" class="p-author">{{ page.author }}</span></span> on
            {% else %}
            <a rel="author" href="https://bergie.iki.fi/#me" class="p-author"></a>
            {% endif %}
            <span property="datePublished" content="{{ page.date | date_to_xmlschema }}" class="dt-published">{{ page.date | date_to_long_string }}</span>
            {% if page.location %}
            in <span rel="contentLocation" typeof="City"><span property="name" class="p-location">{{ page.location }}</span></span>
            {% endif %}
            {% assign words = content | strip_html | number_of_words %}
            <span property="wordCount" content="{{ words }}"></span>
            {% if words < 360 %}
            <div class="reading-time">1 minute read</div>
            {% else %}
            <div class="reading-time">{{ words | divided_by: 180 }} minute read</div>
            {% endif %}
          </div>
        </header>
        {% if page.cover %}
        <img src="{{ page.cover | replace: 'https://d2vqpl3tx84ay5.cloudfront.net/', 'https://d2vqpl3tx84ay5.cloudfront.net/500x/' }}" alt="cover image for {{ page.title }}" id="cover" />
        {% else %}
        <div id="no-cover"></div>
        {% endif %}
        <div class="content">
          <div property="articleBody" class="e-content">
            {{ content }}
          </div>
          {% include related_posts.html %}
        </div>
        <div class="categorymeta">
          <hr />
          {% if page.source %}
          <div class="contentSource">
            <p>This post originally appeared on <a href="{{ page.source }}" rel="source syndication" target="_blank">{{ page.source | truncate: 30 }}</a></p>
          </div>
          {% endif %}
        {% if page.categories contains 'fbp' %}
            {% include category_fbp.html %}
            <p><a href="{{ base }}/blog/category/fbp/" class="p-category">Read more Flow-Based Programming posts</a>.<p>
        {% elsif page.categories contains 'midgard' %}
            {% include category_midgard.html %}
            <p><a href="{{ base }}/blog/category/midgard/" class="p-category">Read more Midgard posts</a>.<p>
        {% elsif page.categories contains 'oscom' %}
            {% include category_oscom.html %}
            <p><a href="{{ base }}/blog/category/oscom/" class="p-category">Read more Decoupled CMS posts</a>.<p>
        {% elsif page.categories contains 'tablet' %}
            {% include category_tablet.html %}
            <p><a href="{{ base }}/blog/category/tablet/" class="p-category">Read more Tablet Productivity posts</a>.<p>
        {% elsif page.categories contains 'sailing' %}
            {% include category_sailing.html %}
            <p><a href="{{ base }}/blog/category/sailing/" class="p-category">Read more sailing posts</a>.<p>
        {% endif %}
        </div>
      </article>
